src/PaymentWebService/PaymentWSPortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://PaymentWebService/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://PaymentWebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://PaymentWebService/" schemaLocation="PaymentWSPortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="makePPPayment">
    <part name="parameters" element="tns:makePPPayment"/>
  </message>
  <message name="makePPPaymentResponse">
    <part name="parameters" element="tns:makePPPaymentResponse"/>
  </message>
  <message name="makeCCPayment">
    <part name="parameters" element="tns:makeCCPayment"/>
  </message>
  <message name="makeCCPaymentResponse">
    <part name="parameters" element="tns:makeCCPaymentResponse"/>
  </message>
  <message name="getPaymentsList">
    <part name="parameters" element="tns:getPaymentsList"/>
  </message>
  <message name="getPaymentsListResponse">
    <part name="parameters" element="tns:getPaymentsListResponse"/>
  </message>
  <portType name="PaymentWS">
    <operation name="makePPPayment">
      <input ns1:Action="http://PaymentWebService/PaymentWS/makePPPaymentRequest" message="tns:makePPPayment" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://PaymentWebService/PaymentWS/makePPPaymentResponse" message="tns:makePPPaymentResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="makeCCPayment">
      <input ns3:Action="http://PaymentWebService/PaymentWS/makeCCPaymentRequest" message="tns:makeCCPayment" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://PaymentWebService/PaymentWS/makeCCPaymentResponse" message="tns:makeCCPaymentResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getPaymentsList">
      <input ns5:Action="http://PaymentWebService/PaymentWS/getPaymentsListRequest" message="tns:getPaymentsList" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://PaymentWebService/PaymentWS/getPaymentsListResponse" message="tns:getPaymentsListResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

